/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body {
    background-color: #b0c4de;
    margin: 0;
    padding: 0;
}

#header {
    display: inline-block;
    background-color: #652D6C;
    width: 100%;

}

#logo-header {
    float: left;
    font-size: 300%;
    color: #ffffff;
    padding: 30px 0px 30px 20px;
}

#logo-header a:link,
#logo-header a:visited,
#logo-header a:hover {
    color: white;
}

#login-header {
    float: right;
    font-size: 150%;
    color: #ffffff;
    padding: 30px 50px 30px 20px;
}

#login-header a:link,
#login-header a:visited,
#login-header a:hover {
    color: white;
}

#topmenu {
    font-size: 200%;
    padding: 30px 0px 30px 20px;
}

#content {
    font-size: 100%;
    padding: 10px 0px 10px 50px;
}